body {
    margin: 0;
    padding: 0;
    background-color: #ebedf2;
    user-select: none;
}

.columns {
    width: 350px;
    background-color: #d3d7e0;
    display: inline-grid;
    margin-left: 30px;
    margin-top: 15px;
    border-radius: 10px;
    position: relative;
}

.columns h3 {
    text-align: center;
    font-family: "Verdana";
    z-index: 1;
}
.add-new-task {
    text-align: center;
    margin: 10px;
    margin-top: 20px;
    padding: 5px;
    background-color: rgba(240,248,255, .3);
    border-radius: 5px;
    color:  #9b9ea3;
    z-index: 1;
    
}
.add-new-task:hover {
    background-color: aliceblue;
    cursor: default;
    color:  #5e6063;
}
.task-item {
    padding: 10px;
    background-color: #e8f2ff;
    margin: 10px;
    border-radius: 7px;
    width: 300px;
    z-index: 99;
}
.delete{
    background-image: url(../img/deleteIcon.png);
    width: 100px;
    height: 100px;
    background-size: cover;
    position: fixed;
    bottom: 20px;
    left: 90%;
    border-radius: 10px;
}
.delete:hover {
    background-color: #c9959b;
}